<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet", type="text/css", href="/style_weather.css")
    body
        h1 Det finns inget d책ligt v채der, bara d책liga kl채der!
        block content